
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-down-dir-1:before { content: '\e805'; } /* '' */
.icon-up-dir-1:before { content: '\e806'; } /* '' */
.icon-star-2:before { content: '\e807'; } /* '' */
.icon-facebook-2:before { content: '\e809'; } /* '' */
.icon-youtube-1:before { content: '\e80e'; } /* '' */